* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}
header{
    background-color: #0242A0;
    margin-top: 0;
    padding: 0;
    position: relative; /* Para asegurarse de que el header respete el flujo del documento */
    height: 70px; /* Ajusta la altura según sea necesario */
    width: 100%;
}
header h1{
    color: white;
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
}
main{
   width: 100%;
    background-color: #930e70; 
    display:  flex;
    justify-content: space-evenly;
    height: 100%;
}
/* 
usar position relativa para acomodar el h2 con left
*/
.section{
    margin-top: 30px;
    margin-bottom: 250px;
     /* background-color: #252c37;  */
    color: aliceblue;
    width: 450px;
    align-items: center;
    text-align: center;
    height: 100%;
    
}
#section-left{
    box-shadow: rgb(1,1,1,2) -10px 10px 10px;
    background-color: #252c37;
    border-radius: 0.5em;
    height: 70%;
}
#section-rigth{
    display: block;
    color: black;
    font-size: 20px;
}


#section-rigth div{
    margin-top: 25px;
}


footer{
    background-color: #0242A0;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 3.7rem;
}

#footer p{
    color: white;
    text-align: center;
    padding-top: 10px;
}

#section-rigth input[type="text"]{
    width: 70%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}